<!-- MODAL HEADER -->
<div class="modal-header">
    <h4 class="modal-title">New List</h4>
    <button type="button"
            class="close btn-close"
            aria-label="Close"
            (click)="onCancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<!-- MODAL BODY -->
<div class="modal-body">
    <div class="form-group">

        <label for="title">Title</label>
        <input  type="text"
                class="form-control"
                id="title"
                placeholder="List title..."
                [formControl]="fc"
                [class.is-invalid]="error()"
                (keyup.enter)="onAddList()" />

        @if (error()) {

            <div class="invalid-feedback">
                {{ error() }}
            </div>

        }

    </div>

</div>

<!-- MODAL FOOTER -->
<div class="modal-footer clearfix">
    <div>
        <button class="btn btn-default" (click)="onCancel()">Cancel</button>
        <button class="btn btn-primary" (click)="onAddList()">Create</button>
    </div>
</div>