@if (isEdit()) {

    <input  #inputElement
            type="text"
            class="form-control flex-fill"
            (keydown.enter)="onSave(inputElement.value)"
            (blur)="onBlur(inputElement.value)"
            [setFocus]="isEdit()"/>
    <button class="btn btn-default focus-ring" (click)="onSave(inputElement.value)" title="Save">
        <i class="bi bi-floppy"></i>
    </button>
    <button class="btn btn-default focus-ring" (click)="onCancel()" title="Discard">
        <i class="bi bi-x-circle"></i>
    </button>

} @else {

    <button class="btn btn-default flex-fill focus-ring text-start" (click)="edit()">Add Item...</button>

}

