<div class="d-flex align-items-center justify-content-between">
  <h2>{{ selectedList().title }}</h2>
  <button id="listOptions"
          class="btn btn-default"
          title="List Options..."
          (click)="onOpenListUpdateForm()">
      <i class="bi bi-three-dots-vertical"></i>
  </button>
</div>

<!-- Tags -->
<app-tags [selectedList]="selectedList()" (tagSelected)="onTagSelected($event)" />

<!-- Items -->
<ul id="todo-items" class="list-group mb-2">

  @for(item of selectedListItems(); track $index) {

    <li class="list-group-item" [style.backgroundColor]="item.bgColour">

      <app-todo-item  [item]="item"
                      (edit)="onItemEdit($event)"
                      (stateChanged)="onItemStateChanged($event)"
                      (titleChanged)="onItemTitleChanged($event)" />

    </li>

  }
  <li class="list-group-item">
    <app-add-todo-item (add)="onItemAdd($event)" />
  </li>
</ul>

<!-- LIST OPTIONS MODAL -->
<ng-template #listOptionsModalTemplate>

  <app-list-update-form [error]="null"
                        [dto]="selectedList()"
                        (update)="onUpdateList(selectedList().id ,$event)"
                        (cancel)="onCloseListUpdateForm()"
                        (delete)="onDeleteList()"/>

</ng-template>

<!-- ITEM DETAILS MODAL -->
<ng-template #itemDetailsModalTemplate>

  <!-- MODAL HEADER -->
  <div class="modal-header">
    <h4 class="modal-title pull-left">Item Details</h4>
    <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="itemDetailsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <!-- MODAL BODY -->
  <div class="modal-body">
    <form [formGroup]="itemDetailsFormGroup" class="form">
      <div class="form-group">
        <label for="list">List</label>
        <select class="form-control" formControlName="listId">

          @for (list of lists(); track $index) {

            <option [ngValue]="list.id">{{ list.title }}</option>

          }

        </select>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" formControlName="priority">

          @for (level of priorityLevels(); track $index) {

            <option [ngValue]="level.value">{{ level.name }}</option>

          }

        </select>
      </div>
      <div class="form-group">
        <label for="note">Note</label>
        <textarea id="note" class="form-control" rows="3" formControlName="note"></textarea>
      </div>
      <div class="form-group">
        <label>Tags</label>
        <app-tag-input formControlName="tagList"
                       [suggestions]="tagSuggestions"
                       (tagInput)="onTagInput($event)"></app-tag-input>
      </div>
      <div class="form-group">
        <label for="note">Colour</label>
        <app-colour-picker formControlName="bgColour" class="form-control"></app-colour-picker>
      </div>
    </form>

  </div>

  <!-- MODAL FOOTER -->
  <div class="modal-footer">
    <div>
      <div>
        <button class="btn btn-default text-danger" (click)="deleteItem(0, true)">{{deleting ? 'Deleting ' + deleteCountDown + ' ...' : 'Delete'}}</button>
      </div>
      <div>
        <button class="btn btn-default" (click)="itemDetailsModalRef.hide()">Cancel</button>
        <button class="btn btn-primary" (click)="updateItemDetails()">Update</button>
      </div>
    </div>
  </div>

</ng-template>

<!-- DELETE LIST MODAL -->
<ng-template #listDeleteModalTemplate>

  <app-delete-list  [list]="selectedList()"
                    (confirmed)="onDeleteListConfirmed()"
                    (rejected)="onDeleteListRejected()"/>

</ng-template>