@if (tags().length > 0) {

    <div class="d-flex align-items-center flex-wrap gap-1 form-group mb-1">
  
      <i class="bi bi-tags"></i>
      @for (tag of tags(); track $index) {
        <span class="badge rounded-pill form-control w-auto"
              [class.bg-secondary]="selectedTag() !== null && selectedTag() !== tag"
              [class.bg-primary]="selectedTag() === null || selectedTag() === tag"
              (click)="selectTag(tag)"
              (keydown.Enter)="selectTag(tag)"
              role="button"
              tabindex="0">
          {{tag}}
        </span>
      }
      <i class="bi bi-filter ms-auto"></i>
  
    </div>
  
  }